<div class="jumbotron">
    <h1>AMC Bookstore</h1>
    <p class="lead">A RESTful API developed by Chad Smith</p>
    <p>@Html.ActionLink("Learn more", "Index","Help", htmlAttributes: new { @class="btn btn-primary btn-lg"})</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Simplified Bookstore</h2>
        <p>The Bookstore database structure is rather simplified. There are primarily four main data models: Books, Authors, Reviews, and Categories. Two additional tables exist to link Books with Authors and Books with Reviews. The BooksReviews table includes full references to Books, Authors, and Reviews.</p>
    </div>
    <div class="col-md-4">
        <h2>Added Functionality</h2>
        <p>Reviews generate a Rating, from 0 to 5, for each Book object in the Bookstore. There are several methods of finding highly rated items. The Books API has a stats endpoint that provides the overall rating for the Book. The Authors API has an option to see an Author's overall rating for ALL books published by that Author. The Authors API also has an Authors Ranking endpoint, which lists the top 10 rated Authors (with at least 4 reviews). The Category API has an option to see the highest rated books within each Category. Where possible, the number of Reviews is included with each Average Rating value for context.</p>
    </div>
    <div class="col-md-4">
        <h2>Authorization Tokens</h2>
        <p>Currently, the API does not require an Authorization Token. Access tokens will be added in the near future.</p>
    </div>
</div>
